h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
h1 {}
.hamburger {@include hamburger(#000,#444,20px,20px, 3px, 3); background-color: #fff; border: none; }
.hamburger:focus {outline: none;}

/*********************** Header 1 ***********************/

body #page{
#content{
    .header-1 {
        position: relative;
        display: block;
        z-index: 100;
        .mobile-hero-image{
            display:none;
            height: 100%;
            min-height: 600px;
            background:no-repeat right top;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover; 
            }    
        .hero-image{
            height: 100%;
            background:no-repeat right top;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover; 
            .grid-container{
                padding-bottom: 80px;
                margin-bottom: 0px;
                .grid-x{
                    .cell{
                        position: relative;
                        &.header-text{
                            margin-top: 100px;
                            }
                        &.light{
                            h1{
                                color: $white;
                                }
                            span.header1-content{
                                color: $white;
                                }
                            hr.header1 {
                                background-color: $white;
                                }
                            } 
                        &.dark{
                            h1{
                                color: #000;
                                }
                            span.header1-content{
                                color: #000;
                                }
                                hr.header1{background-color: #000;}
                            }   
                        h1{
                            width: 100%;
                            right: 0;
                            margin-bottom: 60px;
                            font-weight: 200;
                            position: relative;
                            @include fluid-type(300px,1100px, 30px,100px);
                            z-index:100;
                            line-height: 102px;
                            margin-top: 0px;
                            }
                            hr.header1{ 
                                z-index: 100;
                                height: 7px;
                                width: 40%;
                                top: -56px;
                                left: 18px;
                                position: absolute;
                            }
                        span.header1-content p{
                            font-size: 30px;
                            position: relative;
                            line-height: 36px;
                            font-weight: 200;
                             z-index: 100;
                            }
                        }  
                    }
                }
            }
        .header__plus--pattern{ 
            position: absolute;
            background-position: right;
            background-repeat: no-repeat;
            top: 1px;
            height: 857px;
            width: 100%;
            z-index: 1;
            background-image: url(/wp-content/themes/engage-psu/assets/images/triangle-pattern.svg);
            }
        }
/*********************** Header 3  ***********************/
    .header-2{
        margin-top: 50px;
        .grid-container.full{
            .grid-x{
                .header__2-text-container{
                    .header__2-text{
                        padding-top: 40px;
                        width: 100%;
                        max-width: 580px;
                        float: right;
                        h1{ 
                        font-size: 62px;
                        line-height: 62px;
                        font-weight: 200;
                        color: $dark-color;
                        margin-left: 10px;
                            }
                        }
                    }
                .header__2-image{
                        .programs__plus--pattern{
                            position: absolute;
                            background-position: right;
                            background-repeat: repeat;
                            left:45%;
                            height: 326px;
                            width: 100%;
                            z-index: 1;
                            background-image: url(/wp-content/themes/engage-psu/assets/images/triangle-pattern.svg);
                            }
                    .header__2-image-container{
                        width:100%;
                        max-width: 785px;
                        float: right;
                        position: relative;
                        .image{
                            max-height: 524px;
                            height: 100%;
                            width: 100%;
                            overflow: hidden;
                            img{
                                height: 100%;
                                width: 100%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                font-family: "object-fit: cover";
                                }
                            .video-thumbnails{
                                iframe{width: 100%;}
                                }
                            }
                        }
                    }
                .clearfix{
                    @include clearfix;
                    }
                }
            }
        }
    }
}