#header.site-header {
    box-shadow: 0px 3px 6px #00000029;

    #navbar.grid-container.full {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;

        .grid-x {

            .site-branding {
                a img {
                    margin-left: 95px;
                    width: 223px;
                    margin-top: 14px;
                }
            }

            .site-nav {
                padding-right: 4%;
                min-height: 96px;

                #site-navigation.main-navigation {
                    height: 20%;
                    position: relative;
                    top: 0px;
                    left: -23px;

                    .button.menu-icon {
                        display: none;
                        right: 47px;
                        position: absolute;
                        z-index: 100;
                        color: black;
                        top: 0px;
                        padding-top: 36px;
                        font-size: 38px;
                        padding-right: 0px;
                        padding-left: 0px;
                        height: 40px;
                        width: 40px;
                        background-color: #fff;
                        border: none;
                        &::before {
                            content: "Menu";
                            color: black;

                            position: absolute;
                            right: -2px;
                            bottom: 35px;
                        }

                        &::after {
                            background: none;
                            box-shadow: none;
                            display: none;
                        }

                        &:focus {
                            outline: none;
                        }

                        .menu-hamburger-icon .hamburger-bar {
                            background-color: black;
                            height: 5px;
                            width: 100%;
                            display: block;
                            position: absolute;
                            left: 0;
                            -webkit-transition: all .4s ease-in-out;
                            -o-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                        }

                        &.hover {
                            bottom: revert;

                            right: 47px;
                            top: 11px;
                            width: 7%;
                            z-index: 102;

                            &::before {
                                color: #000;

                                right: 1px;
                                top: 57px;
                                content: "Close";
                            }

                            .menu-hamburger-icon {
                                position: relative;

                                .hamburger-bar {
                                    -webkit-transition: all .4s ease-in-out;
                                    -o-transition: all .4s ease-in-out;
                                    transition: all .4s ease-in-out;
                                    background-color: #000;
                                }
                            }

                            .hamburger-bar-1 {
                                -webkit-transform: translateY(13px) translateY(-50%) rotate(45deg);
                                -o-transform: translateY(13px) translateY(-50%) rotate(45deg);
                                transform: translateY(13px) translateY(-50%) rotate(45deg);
                                bottom: 24px;
                            }

                            .hamburger-bar-2 {
                                width: 0;
                                opacity: 0;
                            }

                            .hamburger-bar-3 {
                                bottom: 4px;
                                -webkit-transform: translateY(-12px) translateY(50%) rotate(-45deg);
                                -o-transform: translateY(-12px) translateY(50%) rotate(-45deg);
                                transform: translateY(-12px) translateY(50%) rotate(-45deg);
                            }
                        }
                    }

                    .mobile-menu {
                        display: none;
                    }

                    .menu-button-close {
                        display: none;
                    }

                    .desktop-menu {
                        display: table;

                        a {
                            display: block;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        li {
                            position: relative;
                        }

                        ul {
                            list-style: none;
                            margin: 0;
                            padding-left: 0;

                            li:hover>ul,
                            li.focus>ul {
                                left: auto;
                            }

                            ul {
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                                float: left;
                                position: absolute;
                                top: 100%;
                                left: -999em;
                                z-index: 99999;

                                ul {
                                    left: -999em;
                                    top: 0;

                                    li {

                                        &:hover>ul,
                                        &.focus>ul {
                                            display: block;
                                            left: auto;
                                        }
                                    }
                                }

                                a {
                                    width: 200px;
                                }
                            }
                        }

                        .search-icon {
                            border-bottom: 3px solid #91959C;
                            z-index: 105;
                            color: #91959C;
                            position: relative;
                            float: right;
                            margin-left: 45px;
                            width: 105px;
                            max-height: 40px;

                            a {
                                border-bottom: unset;
                            }

                            #searchform {
                                button i.fa-search {
                                    text-shadow: none;

                                    position: relative;
                                }

                                input[type='text'] {
                                    display: inline-table;
                                    width: 75%;
                                    height: 32px;
  
                                    margin: 0;
                                    padding: 0;
                                    border: none;
                                    z-index: 101;

                                    background-color: transparent;
                                    box-shadow: unset;
                                    -webkit-box-shadow: unset;
                                    font-weight: 400;
                                    position: relative;
                                }

                                #search-submit {
                                    color: #91959C;
                                    width: 105%;
                                    position: relative;
                                    right: -5px;
                                    bottom: 30px;
                                    z-index: 100;
                                    background-color: transparent;
                                    border: initial;

                                    .fa-w-16 {
                                        float: right;
                                        margin-left: 10px;
                                    }
                                }

                                .search-radio-buttons {
                                    position: absolute;
                                    width: 141px;
                                    padding: 15px;
                                    top: 67px;
                                    right: -3px;
                                    z-index: 110;
                                    background-color: #001e44;
                                    color: #ffff;
                                    display: none;

                                    &.show {
                                        display: inline-block;
                                    }

                                    .search-input {
                                        color: lightgray;
                                    }
                                }
                            }
                        }

                        .menu-menu-1-container{
                            float: right;
                            ul li {
                                margin: 25px 0 25px 40px;
                                color: #000;
                            }
                        }

                        .super-nav {
                            float: right;

                            ul li a {
                                margin: 7px 0 25px 30px;
                              
    
                            }
                        }
                    }

                    #primary-menu {
                        .search-icon {
                            border-bottom: 3px solid #91959C;
                            z-index: 105;
                            color: #91959C;
                            position: relative;
                            float: left;
                            margin-left: 0px;
                            margin-top: 35px;
                            width: 105px;
                            max-height: 40px;

                            a {
                                border-bottom: unset;
                            }

                            #searchform {
                                button i.fa-search {
                                    text-shadow: none;
                                
                                    position: relative;
                                }

                                input[type='text'] {
                                    display: inline-table;
                                    width: 80%;
                                    height: 32px;
                                  
                                    margin: 0;
                                    padding: 0;
                                    border: none;
                                    
                                    
                                    background-color: transparent;
                                    box-shadow: unset;
                                    -webkit-box-shadow: unset;
                                    font-weight: 400;
                                    position: relative;
                                }

                                #search-submit {
                                    float: right;
                                    position: relative;
                                    right: -12px;
                                    bottom: 30px;
                                    background-color: transparent;
                                    border: initial;
                                }

                                .search-radio-buttons {
                                    position: absolute;
                                    width: 141px;
                                    padding: 15px;
                                    top: 67px;
                                    right: -3px;
                                    z-index: 110;
                                    background-color: #001e44;
                                    color: #ffff;
                                    display: none;

                                    &.show {
                                        display: inline-block;
                                    }

                                    .search-input {
                                        color: lightgray;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            #primary-menu {
                background-color: lightgray;
                color:gray;
                width: 142%;
                position: absolute;
                z-index: 101;
                height: 900vh;
                top: -37px !important;
                padding-left: 90px;

                .super-nav,
                .menu-primary-container {
                    ul {
                        li {
                            padding-top: 35px;
                            padding-bottom: 35px;
                            border-bottom: 1px solid #000;
                            width: 44%;
                        }
                    }
                }
            }

            button.menu-icon {
                .menu-hamburger-icon {
                    left: 0;
                    top: 0;
                    display: block;

                    .hamburger-bar-1 {
                        bottom: 24px
                    }

                    .hamburger-bar-2 {
                        bottom: 12px;
                        right: 0;
                        width: 100%;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-left: auto;
                        margin-right: 0;
                        opacity: 1;
                    }

                    .hamburger-bar-3 {
                        bottom: 0;
                    }
                }
            }
        }
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {

    .menu-toggle {
        display: none;
    }

    .main-navigation ul {
        display: flex;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

    .site-main & {
        margin: 0 0 1.5em;
    }

    .nav-links {
        display: flex;
    }

    .nav-previous {
        flex: 1 0 50%;
    }

    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}

/*********************** Emergency Banner ***********************/
header#header.site-header {
    .alert.non-emergency {
        background-color: blue;
        color: #000321;
        position: relative;
        overflow: hidden;

        border: {
            bottom: 1px solid #e4e5e7;
        }

        ;

        .sr-only {
            opacity: 0;
            position: absolute;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
        }

        .alert p {
            font-size: 1rem;
            line-height: 1.125rem;
            font-weight: 700;
            letter-spacing: .03rem;
        }

        .container {
            position: relative;
            height: 100%;
            max-width: 1440px;
            flex-direction: row;
            justify-items: flex-start;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;

        }

        .date {
            float: none;
            padding: 0;
            text-transform: uppercase;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;
            -webkit-box-flex: 0;
            -ms-flex: 0 14%;
            flex: 0 14%;
        }

        .left-angle,
        .right-angle {
            display: inline-block;
            -webkit-box-flex: 0;
            -ms-flex: 0 9.15%;
            flex: 0 4%;
            fill: #fff;
        }

        .left-angle {
            position: relative;
            left: 1px;
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
        }

        .right-angle {
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4;
        }

        .alert-message {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            float: left;
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
            -webkit-box-flex: 0;
            -ms-flex: 0 100%;
            flex: 0 66%;
            background-color: #fff;

            .alert-icon {
                stroke: #000321;
                padding: 0;
                width: 24%;
                height: 57px;
                top: 0;
                position: relative;
            }

            p {
                font-style: italic;
                width: 76%;
                font-size: 1rem;
                line-height: 1.125rem;
                font-weight: 700;
                letter-spacing: .03rem;
                color: #000321;
                position: relative;
            }
        }

        .minimize-alert {
            -webkit-box-ordinal-group: 6;
            -ms-flex-order: 5;
            order: 5;
            -webkit-box-flex: 0;
            -ms-flex: 0 9%;
            flex: 0 9%;

            .close-button {
                float: right;
                position: relative;
                display: block;
                color: #fff;
                top: 0;
                right: 1rem;
                border: none;
                background-color: transparent;
                cursor: pointer;
                text-transform: uppercase;
                padding-top: 2rem;
                padding-bottom: 14px;
                font-size: 1rem;
                line-height: 1.125rem;
                font-weight: 700;
                letter-spacing: .03rem;

                &::before {
                    content: "X";
                    color: #fff;
                    margin-right: 10px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }
}